<span class="breadcrumb" [style.font-size]="fontSize.breadcrumb">
	<a (click)="onItemSelected('uinservices/dashboard')">{{'dashboard.uinservices' | translate}} &nbsp;&nbsp;</a> > &nbsp;&nbsp;<span class="active">{{'personalisedcard.title' | translate}}</span>
</span>

<div class="main-div">
	<div class="spinner" *ngIf="isLoading">
		<mat-spinner></mat-spinner>
   </div>
	<mat-card *ngIf="!isLoading">
		<h3 [style.font-size]="fontSize.headingForUIN" style="color: #505050;">{{'personalisedcard.title' | translate}}</h3>
		<p [style.font-size]="fontSize.paragraph" class="intro-description">{{'personalisedcard.introDescription' | translate}}</p>
		<p [style.font-size]="fontSize.paragraph" class="intro-description">{{'personalisedcard.mainlabel' | translate}}</p>
		<table style="width:100%;" dir="{{sitealignment}}">
			<tr><mat-grid-list [cols]="cols" rowHeight="9rem" gutterSize="10px">
			  <mat-grid-tile [colspan]="dataCols" [rowspan]="3">
				<td [style.width] = "width">
					<table class="fixed" *ngFor="let data of schema; let i = index" style="width:100%;">
						<tr>
							<td [style.font-size]="fontSize.checkBoxText" class="each-property" style="width:40%;">
							  <mat-checkbox [id]="data.attributeName" [checked]="data.checked" *ngIf="data.label[langCode] !== 'undefiend'" (click)="captureCheckboxValue($event, data,'datacheck')" >
								{{data.label[langCode]}}</mat-checkbox></td>
							<td [style.font-size]="fontSize.checkBoxText" *ngIf="data.maskRequired" class="each-masked-property" style="width:60%;">
								<mat-checkbox [disabled]="!data.checked"  id="mask{{data.attributeName}}" (click)="captureCheckboxValue($event, data,data.maskAttributeName)">{{data.maskRequiredLabel[langCode]}}</mat-checkbox>
							</td>
							<td *ngIf="data.formatRequired" style="width:60%">
								<button [style.font-size]="fontSize.checkBoxText" [disabled]="!data.checked" mat-button [matMenuTriggerFor]="basic">{{data.formatOptionLabel[langCode]}}<mat-icon>keyboard_arrow_down</mat-icon></button>
								<mat-menu #basic="matMenu" class="each-lang-card" >
									<ng-container *ngFor="let data1 of data.formatOption[langCode];">
										<button id="{{data1.value}}Btn" mat-menu-item>
											<div class="check-box-card" (click)="captureCheckboxValue($event, data,data1)">
												<input class="check-box" type="checkbox" [checked]="data1.checked" id="{{data1.value}}" />
												<label [style.font-size]="fontSize.checkBoxText">{{data1.label}}</label>
											</div>
										</button>
									</ng-container>
								</mat-menu>
							</td>
						</tr>
					</table>
				</td>
			  </mat-grid-tile>
			  <mat-grid-tile [colspan]="previewCols" [rowspan]="3">
				<td style="vertical-align: top;" [style.width] = "previewWidth">
					<div class="seleted-details-card" id="seleted-details-card" >
					<table style="width: 100%; max-height: 217px;">
						<tr >
							<td rowspan='2'  *ngIf="dataDisplay['photo']" style="width: 25%;"><img [src]="dataDisplay['photo']['value']" alt='' width='70px' height='70px'  style="border-radius: 10%;" /></td>
							<td style="width: 40%;">
								<span *ngIf="dataDisplay['fullName']"><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['fullName']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['fullName']['value']}}</span>
							</span>
							</td>
              <td [ngStyle]="{'float': langCode === 'ara' ? 'left' : 'right' }">
								<img style="height: 50px; width: auto;" alt="logo" src="/assets/nira_logo.png"/></td>
						</tr>
						<tr *ngIf="dataDisplay['dateOfBirth'] || dataDisplay['gender']">
							<td *ngIf="dataDisplay['dateOfBirth']"><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['dateOfBirth']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['dateOfBirth']['value']}}</span></td>
							<td *ngIf="dataDisplay['gender']"><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['gender']['label']}}</label><br> <span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['gender']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['UIN'] || dataDisplay['perpetualVID']">
							<td *ngIf="dataDisplay['UIN']" ><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['UIN']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['UIN']['value']}}</span></td>
							<td colspan='2' *ngIf="dataDisplay['perpetualVID']" ><label style="color: #666666;" [style.font-size]="fontSize.breadcrumb" >{{dataDisplay['perpetualVID']['label']}}</label><br><span class="detailinfo" [style.font-size]="fontSize.paragraph" >{{dataDisplay['perpetualVID']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['phone']">
							<td  colspan='3'><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['phone']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['phone']['value']}}</span></td>
						</tr>
						<tr *ngIf="dataDisplay['email']">
							<td colspan='3'>
								<label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['email']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['email']['value']}}</span>
							</td>
						</tr>
						<tr *ngIf="dataDisplay['fullAddress']">
							<td colspan='3' style="width:100%"><label [style.font-size]="fontSize.breadcrumb"  style="color: #666666;">{{dataDisplay['fullAddress']['label']}}</label><br><span [style.font-size]="fontSize.paragraph"  class="detailinfo">{{dataDisplay['fullAddress']['value']}}</span></td>
						</tr>
					</table>
				</div>
				</td></mat-grid-tile></mat-grid-list>
			</tr>
			<tr>
				<td style="float:right;width: 100%" colspan="2"><button class="download-btn" [disabled]="downloadBtnDisabled" id="downloadFileBtn" mat-raised-button  (click)="downloadFile()">{{'personalisedcard.downloadbutton' | translate}}</button></td>
			</tr>
		</table>
	</mat-card>
</div>
