<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" position="start" mode="push">
    <mat-nav-list class="sidenav-list">

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="hearder-logo" (click)="godashboard()">
        <img class="img-fluid" src="/assets/nira_logo.png"  alt=""/>
      </div>
      <span class="spacer"></span>

      <mat-list-item id="zoomItemBtn" *ngIf="activeUrl !== '#/dashboard/expired' ">
        <button [style.font-size]="fontSize.lableText" mat-button [matMenuTriggerFor]="zoomItem"> <span
          class="mat-button-wrapper">Aa<mat-icon>keyboard_arrow_down</mat-icon></span></button>
      </mat-list-item>
      <mat-menu class="zoommenu" [backdropClass]="'zoom'" #zoomItem="matMenu" [overlapTrigger]="false" id="zoomItem">
        <button  mat-menu-item (click)="setFontSize(item)"  [style.font-size.px]="item.fontSize" [ngClass]="item.fontSize === selectedfontsize ? 'sel-font-size-btn' : 'font-size-btn'" *ngFor="let item of zoomLevel">
          {{item.label}}</button>
      </mat-menu>

      <mat-list-item *ngIf="activeUrl !== '#/dashboard/expired' && showLangDropDown">
        <button [style.font-size]="fontSize.lableText" id="languages" mat-button [matMenuTriggerFor]="languages"> <span class="mat-button-wrapper"><mat-icon>g_translate</mat-icon>
          <span class="selected-lang">{{selectedLanguage}}</span> <mat-icon>keyboard_arrow_down</mat-icon></span></button>
      </mat-list-item>

      <mat-menu class="language-menu" [backdropClass]="'zoom'"  #languages="matMenu" [overlapTrigger]="false">
        <button [style.font-size]="fontSize.lableText" [ngClass]="item.code === langCode ? 'sel-font-size-btn' : 'font-size-btn'" mat-menu-item (click)="onlanguagechange(item)"
          *ngFor="let item of selectLanguagesArr" id="lang{{item.code}}" >{{item.value}}</button>
      </mat-menu>

      <mat-list-item *ngIf="showLogoutBtn">
        <button mat-raised-button class="logout-btn" (click)="showUinServicesLogoutPopup()" [style.font-size]="fontSize.paragraph">
          {{'Logout' | translate}}
        </button>
      </mat-list-item>&nbsp;&nbsp;&nbsp;

      <mat-list-item *ngIf="isAuthorized">
        <button class="notification-btn" mat-menu-item [matMenuTriggerFor]="notificationMenu" (click)="loadNotificationData()">
          <mat-icon class="notification-icon" matBadge="{{notificationCount}}"
            matBadgeColor="warn" matBadgeSize="small" *ngIf="notificationCount">notifications</mat-icon>
          <mat-icon class="notification-icon"
            *ngIf="!notificationCount">notifications</mat-icon>
        </button>
      </mat-list-item>&nbsp;&nbsp;&nbsp;

      <mat-menu class="myMenu" [backdropClass]="'first'" #notificationMenu="matMenu" [overlapTrigger]="false" xPosition="before" id="notificationMenu">
        <div *ngIf="!notificationList" style="height:100px">
          <mat-spinner style="margin:0 auto;margin-top: 10px;" [diameter]="50"></mat-spinner>
        </div>
        <div [style.font-size]="fontSize.lableText" *ngFor="let data of notificationList; let i = index"
          [style.background-color]="data.readStatus ? '':'#EFF0FF'" (click)="viewDetails(data)" style="cursor: pointer;">
          <div class="each-notification" style="display: flex; align-items: center; padding: 8px;">
            <div style="border:2px solid #DCDDF4; border-radius: 7px; background-color: #ffffff;">
              <div *ngIf="!data.readStatus"
                style="display: flex; justify-content: flex-end; margin-top: -4px;margin-right: -3px;">
                <div class="dot"></div>
              </div>
              <div [ngClass]="data.readStatus ? 'red-icon-card':'unread-icon-card'">
                <img style="height:18px; width:18px;" *ngIf=" data.serviceType === 'DATA_SHARE_REQUEST'"
                  src="./assets/icons/iconfont/Path 5853.svg" alt="" />
                <img style="height:18px; width:18px;" *ngIf=" data.serviceType === 'SERVICE_REQUEST'"
                  src="./assets/icons/iconfont/Group 218.svg" alt="" />
                <img style="height:18px; width:18px;" *ngIf=" data.serviceType === 'DATA_UPDATE_REQUEST'"
                  src="./assets/icons/iconfont/recent_actors_black_24dp.svg" alt="" />
                <img style="height:18px; width:18px;" *ngIf=" data.serviceType === 'ID_MANAGEMENT_REQUEST'"
                  src="./assets/icons/iconfont/lock_black.svg" alt="" />
              </div>
            </div>
            <div style="margin-left:6px; width: 280px;" *ngIf="langJson"> <span style="font-weight: 600;"> EID:
                {{data.eventId}}</span>&nbsp;|&nbsp;{{data.description}}. <span
                style="text-decoration: underline; color: #551A8B; cursor: pointer;">{{langJson.click}}</span>
              {{langJson.toSeeMoreDetails}}
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-menu>

      <mat-list-item *ngIf="isAuthorized" dir="{{sitealignment}}">
        <button mat-menu-item [matMenuTriggerFor]="profilemenu"
          style="border: 1px solid white;border-radius: 5px;padding: 0px 8px;line-height: 36px;height: 36px;background-color: white;"><mat-icon
            style="margin: 0px;color: green;">person</mat-icon></button>
      </mat-list-item>
      <mat-menu class="profile-menu" [backdropClass]="'first'" #profilemenu="matMenu" [overlapTrigger]="false" xPosition="before" id="profileMenu">
        <div  style="padding: 15px 20px;background: #03A64A;display: flex;align-items: center; overflow-wrap: break-word;"><img
            [src]="userImage" alt=""
            style="width:50px;height: 50px;border-radius: 50px;border: 2px solid white;" />&nbsp;&nbsp;&nbsp;<span
            style="color:white; width: 80%;" [style.font-size]="fontSize.paragraph">{{fullName}}</span></div>
        <mat-divider></mat-divider>
        <div style="height: 10px;"></div>
        <div style="height: 30px;"><span [style.font-size]="fontSize.breadcrumb" style="padding: 30px;color: rgba(0,0,0,.87);">{{'header.lastLogin' | translate}}</span>
        </div>
        <div style="height: 30px;"><span [style.font-size]="fontSize.lableText" style="padding: 28px;color: rgba(0,0,0,.87);">{{lastLogin}}</span></div>
        <mat-divider></mat-divider>
        <button [style.font-size]="fontSize.lableText" (click)="doLogout()" mat-menu-item
          style="padding-left: 27px;"><mat-icon>power_settings_new</mat-icon><span>{{'header.logout' | translate}}</span>
        </button>
      </mat-menu>


    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
